<div id="about">
  <div class="about-content">
    <h1>This template was built with <i class="fa fa-heart"></i> by</h1>
    <ul class="list-inline">
      <% ["jessicasciani", "niraliv"].each do |gh_username| %>
      <%=image_tag "https://kitt.lewagon.com/placeholder/users/#{gh_username}", class: "img-circle"%>
      <% end %>
    </ul>
  </div>
</div>
